/* Minimal CSS */

body a, body a:link, body a *:not(img), body a:link *:not(img) {
  color: #30C5FF !important;
  background-color: rgba(60, 60, 60, 0) !important;
}

body a:visited, body a:visited *:not(img) {
  color: #666666 !important;
  background-image: none !important;
  background-color: rgba(60, 60, 60, 0) !important;
}

body a:hover, body a:active, body a:hover *:not(img), body a:visited *:not(img) {
  color: #FFFFFF !important;
  background-image: none !important;
  background-color: rgba(60, 60, 60, 0) !important;
}
